extends ../layout

block content
    script(type='text/javascript', src='/javascripts/uiControllers/ArtistView.js')
    script(type='text/javascript')
      $(function() {
        loadAllCredentials('#{url}', 1);
        loadAllCredentials('#{url}', 2);
        loadAllCredentials('#{url}', 3);
      });
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        include ../elements/search
        .tab2
              ul
                li
                  a(href='/artists/view?url=#{url}', rel='tab_changer') Profile
                li
                  a.activeTab(href='/artists/view/credentials?url=#{url}', rel='tab_changer') Credentials
                li
                  a(href='/artists/view/media?url=#{url}', rel='tab_changer') Related Media
        .content
          .contentIn
            .ourstory
              .ourstoryHeader
                h2 Credentials
              p
                landingContainer
                    div
                        
                    .listDiv
                        #myList
                            table(border='0', width='100%')
                                tr
                                  td.headTd
                                    strong Film & Television
                                tr
                                  td#myCat1
                                tr
                                  td.headTd
                                    strong Selected Radio
                                tr
                                  td#myCat2
                                tr
                                  td.headTd
                                    strong Selected Theatre
                                tr
                                  td#myCat3
    //
      / Container
    include ../elements/footer
    //
      / Footer
    //
