extends ../layout

block content
    script(type='text/javascript', src='/javascripts/uiControllers/EventView.js')
    script(type='text/javascript')
        $(function() {
            setupUIEdit(#{event.categoryId}, #{country}, #{state}, #{event.cityId}, "#{event.from_date}", "#{event.to_date}");    
        });
    include ../elements/header
    //
      / Header
    //
      Container
    .containerr
      .container
        
        .loginContent
          .contentIn
            .ourstoryHeader
              h2
                | Edit Event
                span 
            .signupForm
              form#eventAddFrm( method='post', action='/events/doeditevent', name='eventEditFrm', enctype="multipart/form-data", onsubmit='return validateEventFrm();')
                
                .signupFormRow
                  label Category:
                  select(name='category', id='category')
                .signupFormRow
                  label Country:
                  select(name='country', id='country', onchange='changeState(this.value, null, null);')
                .signupFormRow
                  label State:
                  #stateHolder
                    select(name='state', id='state', onchange='changeCity(this.value, null);')
                .signupFormRow
                  label City:
                  #cityHolder
                    select(name='city', id='city')
                .signupFormRow
                  label Title:
                  input(type="text", name="title", id="title", value="#{event.title}")
                  input(type="hidden", name="eventId", id="eventId", value="#{event.id}")
                .signupFormRow
                  label Picture Link:
                  input(type="text", name="event_image", id="event_image")
                .signupFormRow
                  label OR
                  &nbsp;
                .signupFormRow
                  label Upload Picture:
                  input(type="file", name="picture", id="picture")
                .signupFormRow
                  label Description:
                  textarea(name="description", id="description", rows="4", cols="25") #{event.description}
                .signupFormRow
                  label From:
                  select(name='from_year', id='from_year', style='width:100px')
                  -
                  select(name='from_month', id='from_month', style='width:100px')
                  -
                  select(name='from_date', id='from_date', style='width:100px')
                .signupFormRow
                  label To:
                  select(name='to_year', id='to_year', style='width:100px')
                  -
                  select(name='to_month', id='to_month', style='width:100px')
                  -
                  select(name='to_date', id='to_date', style='width:100px')
                .signupFormRow
                  label Website:
                  input(type="text", name="event_website", id="event_website", value="#{event.event_website}")
                .signupFormRow
                  label Email:
                  input(type="text", name="contact_email", id="contact_email", value="#{event.contact_email}")
                .signupFormRow
                  label Phone:
                  input(type="text", name="contact_phone", id="contact_phone", value="#{event.contact_phone}")
                .signupFormRow
                  label Address:
                  textarea(name="contact_address", id="contact_address", rows="4", cols="25") #{event.contact_address}
                  span
                    | 
                  
                  input(type='submit', value='Edit', name='')
                .clr
            .clr
          .clr
    //
      / Container
    include ../elements/footer
    //
      / Footer
